<!-- Meta -->
<meta charset="utf-8" />
<meta name="description" content="Homepage of Harrison Hall" />
<meta name="author" content="Harrison Hall" />
<meta
  name="keywords"
  content="Harrison Hall, Harrison, hachha, hocko, blog, tech, projects, resume"
/>

<!-- Style -->
<link rel="stylesheet" href="/styles/spectre/spectre.min.css" />
<link rel="stylesheet" href="/styles/phosphor/style.css" />

<!-- Custom styles -->
<link rel="stylesheet" href="/styles/site_colors.css" />
<link rel="stylesheet" href="/styles/content.css" />

<!-- Mobile support -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Feeds -->
<link
  rel="alternate"
  type="application/atom+xml"
  title="hachha.dev blog"
  href="/blog.feed"
/>
<link
  rel="alternate"
  type="application/atom+xml"
  title="hachha.dev links"
  href="/links.feed"
/>
<link
  rel="alternate"
  type="application/atom+xml"
  title="hachha.dev slipfeed"
  href="https://feeds.hachha.dev/all/feed"
/>

<!-- Firefox FOUC fix -->
<script>
  let FF_FOUC_FIX;
</script>
