<header class="navbar" style="z-index: 1">
  <section class="navbar-section">
    <a href="/" class="btn btn-link text-secondary"><b>hachha.dev</b></a>
  </section>
  <section class="navbar-center">
    <a href="/blog" class="btn btn-link text-gray">Blog</a>
    <a
      href="https://www.linkedin.com/in/harrison-hall-525b81123/"
      target="”_blank”"
      class="btn btn-link text-gray"
      >Resume</a
    >
    <a href="/projects" class="btn btn-link text-gray">Projects</a>
    <a
      href="https://github.com/trackl-games"
      target="”_blank”"
      class="btn btn-link text-gray"
      >Games</a
    >
  </section>
  <section class="navbar-section"></section>
</header>
