<header class="navbar">
    <section class="navbar-section">
        <a href="/" class="btn btn-link text-secondary"><b>hachha.dev</b></a>
    </section>
    <section class="navbar-center">
        <a href="/blog" class="btn btn-link text-gray">Blog</a>
        <a href="/resume" class="btn btn-link text-gray">Resume</a>
        <a href="/projects" class="btn btn-link text-gray">Projects</a>
        <a href="/games" class="btn btn-link text-gray">Games</a>
    </section>
    <section class="navbar-section">

    </section>
</header>