<header>
  <nav>
    <ul>
      <li>
        <a href="/" class="hachha-nav-link"><strong>hachha.dev</strong></a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/blog" class="hachha-nav-link">Blog</a>
      </li>
      <li>
        <a href="/links" class="hachha-nav-link">Links</a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/harrison-hall-525b81123/"
          target="_blank"
          class="hachha-nav-link"
          >Resume</a
        >
      </li>
      <li>
        <a href="/projects" class="hachha-nav-link">Projects</a>
      </li>
      <li>
        <a
          href="https://github.com/trackl-games"
          target="_blank"
          class="hachha-nav-link"
          >Games</a
        >
      </li>
    </ul>
  </nav>
</header>
