<div class="container">
  <div class="columns">
    <div class="column col-4 col-sm-12">
      <a
        href="https://github.com/harrisonhall"
        target="_blank"
        class="click-box"
        style="display: inline-block"
      >
        <img
          src="/media/catman.png"
          class="img-fit-contain"
          style="max-height: 8em"
        />
        <h5
          style="color: var(--headers); text-align: center; margin-bottom: 0px"
        >
          @harrisonhall
        </h5>
      </a>
    </div>
    <div class="column col-8 col-sm-12" style="text-align: left">
      <dl style="margin-top: 0em">
        <dt style="font-size: 1.5em; color: var(--headers)">Projects</dt>
        <dd style="margin-left: 0.5em">
          <b>Personal <i>(listed)</i></b> Small utilities and games
        </dd>
        <dd style="margin-left: 0.5em">
          <b>Professional <i>(unlisted)</i></b> Embedded software, networking,
          web development, and distributed systems
        </dd>
      </dl>
    </div>
  </div>
</div>
