<div class="">
  <div class="flex-row narrow">
    <div class="flex-initial">
      <a
        href="https://github.com/harrisonhall"
        target="_blank"
        class="click-box mx-auto flex-col"
        style="display: inline-block; margin-left: 2em; margin-right: 2em"
      >
        <img
          src="/media/catman.png"
          class="img-fit-contain img-center"
          style="max-height: 10em"
        />
        <h5
          style="color: var(--primary); text-align: center; margin-bottom: 0px"
        >
          @harrisonhall
        </h5>
      </a>
    </div>
    <div class="flex-auto" style="text-align: left">
      <dl style="margin-top: 0em">
        <dt style="font-size: 2em; color: var(--primary)"><b>Projects</b></dt>
        <dd style="margin-left: 0.5em; font-size: 0.8em">
          <b>Personal <i>(listed)</i></b> Small utilities and games
        </dd>
        <dd style="margin-left: 0.5em; font-size: 0.8em">
          <b>Professional <i>(unlisted)</i></b> Embedded software, networking,
          web development, and distributed systems
        </dd>
      </dl>
    </div>
  </div>
</div>
