<div
  class="container grid-md"
  style="padding-top: 0.5rem; padding-bottom: 0.5rem;{{#if darken}}background-color: var(--card);{{/if}}"
>
  <div class="container grid-sm">
    <div class="columns">
      <div class="column col-9 col-mr-auto col-sm-12">
        <div class="tile-content">
          <h5 class="tile-title" style="font-size: 1.25em; margin-bottom: 0rem">
            {{project-name}}
          </h5>
          <p class="tile-subtitle" style="margin-bottom: 0rem">
            {{project-description}}
          </p>
          <div>
            {{#each project-links}}
            <a href="{{this}}" target="_blank">
              <button
                class="btn btn-link"
                style="padding-top: 0rem; padding-bottom: 0rem"
              >
                {{@key}}
              </button>
            </a>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="column col-auto col-sm-12">
        {{> templates/generic/date_badge.html date=project-date }}
      </div>
    </div>
  </div>
</div>
