<section class="h-card hidden">
  <span class="p-name">Harrison Hall</span>
  <span class="p-given-name">Harrison</span>
  <abbr class="p-additional-name">C.</abbr>
  <span class="p-family-name">Hall</span>
  <span class="p-nickname">hachha</span>
  <img class="u-photo" src="https://hachha.dev/media/profile-b.png" />
  <a class="u-url" href="https://hachha.dev">hachha.dev</a>,
  <a class="u-email" href="mailto:hachha@hachha.dev">email</a>
  <span class="p-locality">Greenville</span>,
  <abbr class="p-region" title="South Carolina">SC</abbr>,
  <span class="p-postal-code">29607</span>
  <div class="p-country-name">U.S.A</div>
  <div class="p-category">Software Engineer</div>
  <div class="p-job-title">CNO Analyst/Developer</div>
  <div class="p-note">No notes, yet!</div>
</section>
