<div class="flex-row-static narrow" style="max-width: 20rem">
  <div class="mx-auto">
    <a href="https://github.com/harrisonhall" class="icon-link" target="_blank">
      <i class="ph-fill ph-github-logo"></i>
    </a>
  </div>
  <div class="mx-auto">
    <a
      href="https://www.linkedin.com/in/harrison-hall-525b81123/"
      class="icon-link"
      target="_blank"
    >
      <i class="ph-fill ph-linkedin-logo"></i>
    </a>
  </div>
  <div class="mx-auto">
    <a
      rel="me"
      href="https://mastodon.social/@harryhallyall"
      class="icon-link"
      target="_blank"
    >
      <i class="ph-fill ph-mastodon-logo"></i>
    </a>
  </div>
</div>
