<div class="empty">
  <div class="container grid-xs">
    <div
      class="columns col-oneline"
      style="padding-left: 2em; padding-right: 2em; text-align: center"
    >
      <div class="column col-4 col-mx-auto">
        <a href="https://github.com/harrisonhall" target="_blank">
          <i class="fa-brands fa-github-alt fa-4x"></i>
        </a>
      </div>
      <div class="column col-4 col-mx-auto">
        <a
          href="https://www.linkedin.com/in/harrison-hall-525b81123/"
          target="_blank"
        >
          <i class="fa-brands fa-linkedin fa-4x"></i>
        </a>
      </div>
      <div class="column col-4 col-mx-auto">
        <a href="https://mastodon.social/@harryhallyall" target="_blank">
          <i class="fa-brands fa-mastodon fa-4x"></i>
        </a>
      </div>
    </div>
  </div>
</div>
