<div class="empty">
  <div class="container grid-xs">
    <div
      class="columns col-oneline"
      style="padding-left: 2em; padding-right: 2em; text-align: center"
    >
      <div class="column col-4 col-mx-auto">
        <a
          href="https://github.com/harrisonhall"
          class="icon-link"
          target="_blank"
        >
          <i class="ph-fill ph-github-logo" style="font-size: 6em"></i>
        </a>
      </div>
      <div class="column col-4 col-mx-auto">
        <a
          href="https://www.linkedin.com/in/harrison-hall-525b81123/"
          class="icon-link"
          target="_blank"
        >
          <i class="ph-fill ph-linkedin-logo" style="font-size: 6em"></i>
        </a>
      </div>
      <div class="column col-4 col-mx-auto">
        <a
          href="https://mastodon.social/@harryhallyall"
          class="icon-link"
          target="_blank"
        >
          <i class="ph-fill ph-mastodon-logo" style="font-size: 6em"></i>
        </a>
      </div>
    </div>
  </div>
</div>
