body * {
    font-family: MPLUS1;
    /*font-weight: 500;*/
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@font-face {
    font-family: FiraSans;
    src: url("/fonts/fira_sans/FiraSans-Regular.otf") format("opentype");
}

@font-face {
    font-family: MPLUS1;
    src: url("/fonts/mplus1/MPLUS1-VariableFont_wght.ttf") format("truetype");
}

.navbar {
    position: sticky;
    width: 100vw;
    top: 0;
}

.navbar-home {
    color: #d8dee9;
    background-color: #d8dee9;
}


footer p {
    margin-bottom: 0px;
}

.footer-spacer {
    flex: 1;
}

/* Index page */
.index-page {
    background-color: #a3be8c;
}
.blog-page {
    background-color: #b48ead;
}

.section {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}