body * {
    font-family: MPLUS1;
    /*font-weight: 500;*/
}

body {
    color: var(--text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background);
}

@font-face {
    font-family: FiraSans;
    src: url("/fonts/fira_sans/FiraSans-Regular.otf") format("opentype");
}

@font-face {
    font-family: MPLUS1;
    src: url("/fonts/mplus1/MPLUS1-VariableFont_wght.ttf") format("truetype");
}

.navbar {
    position: sticky;
    width: 100vw;
    top: 0;
    background-color: var(--navbar);
}

footer {
    padding-bottom: .5em;
}
footer p {
    margin-bottom: 0px;
}

.footer-spacer {
    flex: 1;
}

/* Index page */
.index-page {
    /*background-color: #a3be8c;*/
}
.blog-page {
    /*background-color: #b48ead;*/
}

.box {
    background-color: var(--panel);
}

.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.empty {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.hero {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.divider {
    border-top-color: var(--text);
    height: 0.1rem;
}

.empty {
    background-color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--headers);
}

p, a {
    color: var(--text);
    font-weight: 500;
}

a:visited {
    color: var(--text);
}

.card {
    background-color: var(--panel);
    border-color: var(--flavor2);
}

.btn, .btn-primary, .btn-primary:hover, .btn-primary:focus, .btn.btn-primary, .btn.btn-primary:hover, .btn.btn-primary:focus {
    color: var(--text);
    background: var(--flavor1);
    border-color: var(--flavor1);
}