
<div class="card blog_card" onclick="window.location.href='/blog/{{blog-path}}';">
    <div class="card-header">
        <div class="card-title h5">{{blog-title}}</div>
    </div>
    <div class="card-body">
        <p>{{blog-blurb}}</p>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" onclick="window.location.href='/blog/{{blog-path}}';">Read</button>
    </div>
</div>

<!--
<div class="tile">
    <div class="tile-content">
        <p class="tile-title">{{blog-title}}</p>
        <p class="tile-subtitle">{{blog-blurb}}</p>
    </div>
    <div class="tile-action">
        <button class="btn btn-primary" onclick="window.location.href='/blog/{{blog-path}}';">Read</button>
    </div>
</div>
-->